<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    
    .container {
      text-align: center;
    }
    
    .options {
      display: flex;
      justify-content: center;
      margin-top: 50px;
    }
    
    .option {
      margin: 0 10px;
      cursor: pointer;
    }
    
    .sub-options {
      display: none;
      margin-top: 20px;
    }
    
    .sub-option {
      margin-bottom: 10px;
    }
    
    .sub-option input[type="file"] {
      display: none;
    }
    
    .sub-option label {
      display: block;
      background-color: #f1f1f1;
      padding: 10px;
      cursor: pointer;
    }
    
    .sub-option label:hover {
      background-color: #e1e1e1;
    }
    
    .sub-option input[type="file"]:focus + label {
      outline: 2px solid #999;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: transparent;
    }

    .options {
      display: flex;
    }

    .option {
      margin-right: 20px;
      cursor: pointer;
    }

    .sub-options {
      display: none;
      margin-top: 10px;
    }

    .sub-options {
      margin-top: 5px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="options">
      <div class="option">
        Traditional
      </div>
      <div class="option">
        Casual
      </div>
      <div class="option">
        Party
      </div>
    </div>
    <div class="sub-options">
      <div class="sub-option">
        
        <label for="traditional-top">Upload Traditional Top</label>
        <div class="conatiner">
  <div class="row">
    {{#if success}}
  <div class="alert alert-success">
    <strong>Success!</strong>{{success}}
  </div>
  {{/if}}
  </div>
  <div>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" accept="image/*">
    <input type="submit" value="Upload">
  </form>
  </div>
  </div>

      </div>
      <div class="sub-option">
        
        <label for="traditional-bottom">Upload Traditional Bottom</label>
        <div class="conatiner">
  <div class="row">
    {{#if success}}
  <div class="alert alert-success">
    <strong>Success!</strong>{{success}}
  </div>
  {{/if}}
  </div>
  <div>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" accept="image/*">
    <input type="submit" value="Upload">
  </form>
  </div>
  </div>

      </div>
    </div>
    <div class="sub-options">
      <div class="sub-option">
        <input type="file" id="casual-top" accept="image/*">
        <label for="casual-top">Upload Casual Top</label>
        <div class="conatiner">
  <div class="row">
    {{#if success}}
  <div class="alert alert-success">
    <strong>Success!</strong>{{success}}
  </div>
  {{/if}}
  </div>
  <div>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" accept="image/*">
    <input type="submit" value="Upload">
  </form>
  </div>
  </div>

      </div>
      <div class="sub-option">
        <input type="file" id="casual-bottom" accept="image/*">
        <label for="casual-bottom">Upload Casual Bottom</label>
        <div class="conatiner">
  <div class="row">
    {{#if success}}
  <div class="alert alert-success">
    <strong>Success!</strong>{{success}}
  </div>
  {{/if}}
  </div>
  <div>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" accept="image/*">
    <input type="submit" value="Upload">
  </form>   
  </div>
  </div>

      </div>
    </div>
    <div class="sub-options">
      <div class="sub-option">
        <input type="file" id="party-top" accept="image/*">
        <label for="party-top">Upload Party Top</label>
        <div class="conatiner">
  <div class="row">
    {{#if success}}
  <div class="alert alert-success">
    <strong>Success!</strong>{{success}}
  </div>
  {{/if}}
  </div>
  <div>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" accept="image/*">
    <input type="submit" value="Upload">
  </form>
  </div>
  </div>

      </div>
      <div class="sub-option">
        <input type="file" id="party-bottom" accept="image/*">
        <label for="party-bottom">Upload Party Bottom</label>
        <div class="conatiner">
  <div class="row">
    {{#if success}}
  <div class="alert alert-success">
    <strong>Success!</strong>{{success}}
  </div>
  {{/if}}
  </div>
  <div>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" accept="image/*">
    <input type="submit" value="Upload">
  </form>
  </div>
  </div>

      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var options = document.getElementsByClassName("option");
      var subOptions = document.getElementsByClassName("sub-options");

      function showSubOptions(index) {
        for (var i = 0; i < subOptions.length; i++) {
          subOptions[i].style.display = "none";
        }
        subOptions[index].style.display = "block";
      }

      for (var i = 0; i < options.length; i++) {
        options[i].addEventListener("click", (function(index) {
          return function() {
            showSubOptions(index);
          };
        })(i));
      }
    });
  </script>
</body>
</html
